@font-face {
  font-family: 'LilGroteskBold';
  src: url('http://openfontlibrary.org/assets/fonts/lil-grotesk/d8ea0c2332f24ebba382725992fcb38c/c1891ae6728ea19348d811b9ca68b5ad/LilGroteskBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'News Cycle', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #444;
  }

h1 {
  margin: 0;
  font-family: 'LilGroteskBold';
  font-weight: normal;
  font-style: normal;
  color: #44cccc;
  font-size: 3.2em;
}

h2 {
  margin: 0;
  font-family: 'LilGroteskBold';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
}

h3 {
  text-transform: uppercase;
  margin: 1em 0 1em 0;
  font-family: 'LilGroteskBold';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
}

h4 {
  margin: 0;
  font-family: 'News Cycle';
  font-weight: bold;
  font-style: normal;
  font-size: 1em;
}

body {
  background-color: #ddd;
}

body > div {
  margin: 0 2em 2em 2em;
}

p, li {
  line-height: 1.75em;
  font-size: 1em;
}

a {
  color: #44cccc;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #444;
}

ul {
  list-style-type: none;
  padding: 0.5em 0 0 1em;

}

ul li:before {
  content: "\2013";
  position: relative;
  left: -0.5em;
}

ul li {
  text-indent: -0.5em;
}

ul.display li {
  margin-bottom: 1.75em;
}

div.text {
  margin-right: 1em;
  margin-top: 1em;
}

div.last .text {
  margin-right: 0;
}

img.face {
  width: 100%;
}

div.face_container {
  margin-right: 1em;
}

@media (max-width: 1200px) {
  .cv .pure-g-r > .pure-u,
  .cv .pure-g-r > [class *= "pure-u-"] {
    width: 100%;
  }

  .cv h3 {
    margin-top: 2em;
  }
}
